{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.xerial/sqlite-jdbc {:mvn/version "3.44.1.0"}
        ring/ring-core {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter {:mvn/version "1.11.0"}
        metosin/reitit-ring {:mvn/version "0.7.0"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        org.clojure/tools.cli {:mvn/version "1.1.230"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}

  :run {:main-opts ["-m" "rewire.server"]}

  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:jar "target/rewire.jar"
                        :aot true
                        :main-class rewire.server}}}}
